# JetBrains IDE settings
.idea/

# Ignore all generated ent/ files
ent/*

# Except the schema directory and all contents inside it
!ent/schema/
!ent/schema/**

# Ignore environment file
.env
